/* Search result - product card */

.product {
    margin: 1em;
    padding: 0;
}

.not-found {
  margin: 1em auto;
  color: black;
}


.non, .unknown, .green {
    color: black;
    padding: 14px 26px 14px 13.2px;
    border-radius: 25px;
    text-align: center;
}

.green {
  background-color:#3bce6c;
}

.non {
  background-color:#f15f5f;
}

.unknown {
  background-color: #ecca3a;
}

.scanner {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.scanner canvas {
    width: 100%;
}

.scanner video {
     border-radius: 25px;
     width: 70%;
     align-content: center;
     position: absolute;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table {
  text-align: center;
}

@media (max-width: 768px) {
    .scanner video {
        width: 80%;
        margin: auto;
    }
    .scanner {
        height: 300px;
    }
  }